@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html { overflow-y: scroll; }
body { 
  background: url('https://thestreamable.com/media/pages/sports/ncaa-mens-basketball/pepperdine-waves/3070164416-1583185840/pepperdine-waves-banner.png') no-repeat center center fixed;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  line-height: 1;
  color: #585858;
  padding: 22px 100px;
  padding-bottom: 55px;
}

::selection { background: #5f74a0; color: #fff; }
::-moz-selection { background: #5f74a0; color: #fff; }
::-webkit-selection { background: #5f74a0; color: #fff; }

br { display: block; line-height: 1.6em; } 

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; }

input, textarea { 
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none; 
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
strong, b { font-weight: bold; } 

table { border-radius: 5px; border-collapse: separate; border-spacing: 0px;  border: solid 1px black; overflow-x:scroll; display:block; }
img { border: 0; max-width: 100%; }

h1 { 
  font-family: 'Amarante', Tahoma, sans-serif;
  font-weight: bold;
  font-size: 3.6em;
  line-height: 1.7em;
  margin-bottom: 10px;
  text-align: center;
  color: #0c4173;
}
/** page structure **/
#wrapper {
  border-radius: 5px;
  display: block;
  width: 850px;
  background: #fff;
  margin: 0 auto;
  padding: 10px 17px 10px 17px;
  -webkit-box-shadow: 2px 2px 3px -1px rgba(0,0,0,0.35);
}

table th:first-child {
  border-top-left-radius: 5px;
}
table th:last-child {
  border-top-right-radius: 5px;
}

table tr:last-child td:first-child {
  border-bottom-left-radius: 5px;
}

table tr:last-child td:last-child {
  border-bottom-right-radius: 5px;
}

#stats {
  border: 0px solid;
  border-radius: 5px;
  margin: 0 auto;
  font-size: 1.3em;
  margin-bottom: 15px;
}

#stats thead {
  cursor: pointer;
  background-color: #f7f6f5;
  color: black;
  width: stretch;
}
#stats thead tr th {
  font-weight: bold;
  padding: 12px 30px;
  padding-left: 40px;
}
#stats thead tr th span { 
  padding-right: 20px;
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

#stats thead tr th.headerSortUp span {
  background-image: url('https://i.imgur.com/SP99ZPJ.png');
}
#stats thead tr th.headerSortDown span {
  background-image: url('https://i.imgur.com/RkA9MBo.png');
}
#stats tbody tr td {
  text-align: center;
  padding: 15px 10px;
}
#stats tbody tr td.lalign {
  text-align: left;
}
tbody tr:nth-child(2n+1){
    background-color: #8798b6;
    color: #fff;
  }
tbody tr:nth-child(2n+2){
  background-color: #ebc5adef;
  color: #000;
}